@import "../../../assets/styles/mixins.scss";

.polyhouse-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .polyhouse-column {
    flex: 1;
    padding-right: 20px;
  }
  
  .field-value {
    display: flex;
    gap: 5px;
  }
  
  .close-icon {
    cursor: pointer;
    font-size: 22px;
  }
  
  @media (max-width: 768px) {
    .polyhouse-column {
      flex: 100%;
      max-width: 100%;
    }
  }


  .middleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .sensor,
  .component-data,
  .task-details {
    flex: 1;
    min-width: 100px;
  }
  
  .task-details {
    flex: 2;
  }
  
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
    }
  
    .sensor,
    .component-data {
      flex: 1;
      min-width: calc(50% - 20px);
    }
  
    .task-details {
      flex: 1;
      min-width: 100%;
    }
  }
  
  @media (max-width: 630px) {
    .container {
      flex-direction: column;
    }
  
    .sensor,
    .component-data,
    .task-details {
      flex: 1;
      min-width: 100%;
    }
  }
  
  .add-sensor-data-modal .ant-picker{
    height: 45px !important;
  }

  .add-sensor-data-modal .ant-input{
    height: 45px !important;
  }
  .add-sensor-data-modal .ant-form-item{
    margin-bottom: 0 !important;
  }
  
  .task-detail .ant-table-footer{
    padding: 0 0 !important;
  }

  .task-detail .ant-card-body{
    padding: 10 10 0 10 !important;
  }

 