@import "../../../assets/styles/mixins.scss";

.workflow_container {
  display: flex;
  gap: 50px;
  margin-top: 15px;

  .card_list_container {
    width: 380px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
    .empty_container {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card_title {
      font-weight: 600;
      border-bottom: 2px solid rgba(0, 0, 0, 0.07);
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .card_container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .dragging {
        background-color: rgba($primary, 0.5) !important;
      }
    }
    .single_stage_card {
      height: calc(45vh / 5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }

    .final_stage_card {
      height: calc(45vh / 5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      // padding: 20px;
      gap: 15px;
      .stage_count_container {
        height: 35px;
        width: 35px;
        background-color: $primary;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-weight: 600;
        font-size: 20px;
      }
      .final_stage_inside_card {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      .setting_icon {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        cursor: pointer;
      }
    }
    .final_stage_card_selected {
      background-color: $primary;
      .stage_count_container {
        background-color: $white;
        color: $primary;
      }
      .heading2 {
        color: $white;
      }
    }
  }
}

.dropzone {
  min-height: calc(40vh / 5);
  border: 2px dashed #ccc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.dropzone.correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.dropzone.wrong {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
