@import "../../../assets/styles/mixins.scss";

.phone_input_main_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.phone_input_container {
  width: 100% !important;
  height: 45px !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  color: #626262 !important;
  box-shadow: none !important;
  overflow: hidden !important;
}
.phone_input_container:focus {
  border-color: #0f2742 !important;
  box-shadow: 0 0 0 2px rgba(4, 13, 19, 0.53) !important;
  outline: 0 !important;
  background-color: #ffffff !important;
}
.common-input {
  border-radius: 6px !important;
  font-weight: 500 !important;
  color: $gray-6 !important;
  height: 45px !important;
  border: 1px solid $gray-4 !important;
}
.common-textArea {
  border-radius: 6px !important;
  font-weight: 500 !important;
  color: $gray-6 !important;
  border: 1px solid $gray-4 !important;
}

.ant-form-item-label {
  font-weight: 600;
}

.ql-container.ql-snow{
  border: 1px solid $gray-4 !important;
  border-top: 0px !important;
  border-radius:0 0 6px 6px !important;
  min-height: 70px !important;
}

.ql-toolbar.ql-snow{
  border: 1px solid $gray-4 !important;
  border-radius:6px 6px 0 0 !important;
}

.ql-editor{
  font-size: 15px !important;
}

.ql-editor.ql-blank::before{
  font-size: 15px !important;
  color: $gray-6 !important;
  font-style: normal !important;
  color: rgba(0, 0, 0, 0.25) !important;
}


.ant-input-number-input{
  height: 45px !important;
}