@import "../../assets/styles/mixins.scss";

// .grid-container {
//     display: grid;
//     gap: 10px;
//     padding: 10px;
// }

// .grid-container {
//     grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
// }

// .grid-item {
//     color: white;
//     padding: 10px;
//     font-size: 1.5em;
//     border-radius: 5px;
// }

.shadow-box {
    border-radius: 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

// @media (max-width: 1100px) {
//     .grid-container {
//         display: grid;
//         gap: 5px;
//         padding: 5px;
//     }
//     .grid-item {
//         color: white;
//         padding: 5px;
//         font-size: 1em;
//         border-radius: 5px;
//     }
//     .grid-container {
//         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     }
//   }

// @media (max-width: 770px) {
//     .grid-container {
//         display: grid;
//         gap: 5px;
//         padding: 5px;
//     }
//     .grid-item {
//         color: white;
//         padding: 5px;
//         font-size: 1em;
//         border-radius: 5px;
//     }
//     .grid-container {
//         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     }
//   }

 
// @media (max-width: 420px) {
//     .grid-container {
//         display: grid;
//         gap: 5px;
//         padding: 5px;
//     }
//     .grid-item {
//         color: white;
//         padding: 5px;
//         font-size: 1em;
//         border-radius: 5px;
//     }
//     .grid-container {
//         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     }
//   }