@import "../../assets/styles/mixins.scss";

@media (max-width: 922px) {
  .responsiveSider {
    display: none;
  }

  .sideBarMenuTab {
    display: flex;
    font-size: 20px;
  }
  .header {
    flex-direction: column;
    padding: 20px;
    align-items: normal;
    height: auto;
    gap: 10px;
  }
  .headerRight {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
