@import "../../assets/styles/mixins.scss";
.task-column {
  border-radius: 10px;
  box-shadow: 0px 20px 27px #0000000d;
}
.task-column .ant-card-head {
  padding-top: 10px;
  border-bottom: 1px solid #f0f0f0 !important;
}

.task-card .ant-card-body {
  padding: 10px 15px 10px 15px;
  
}

.task-list-header .ant-card-body {
  padding: 20px 24px 0 24px;
}

.draggable-item {
  user-select: none; /* Prevent text selection */
  padding: 16px;
  margin: 0 0 8px 0;
  background: lightblue;
  border: 1px solid #ddd;
}

.task-avatar:hover {
  z-index: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}

.selected-task-avatar {
  z-index: 1;
  transform: scale(1.2);
}

.task-comment .editable-trigger{
  width: 100%;
}

.task-comment .ant-input {
  height: 45px;
}

.task-card .ant-card-head {
 
  padding: 15px;
}

.task-column{
  ::-webkit-scrollbar {
    width: 1px !important; 
    height: 1px !important;
    display: block; /* Chrome, Safari, and Opera */
    
  }
  scrollbar-width: thin !important; 
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent; /* Firefox */

} 