@import "../../../../../assets/styles/mixins.scss";

.choose_workflow_template_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.workflow_step_configuration {
  .configure_type_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.configure_container {
  min-width: 320px;
}

.lifecycle_main_container {
  .lifecycle_header_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    .heading2 {
      font-weight: 600;
    }
  }
  .lifecycle_container {
    display: flex;
    gap: 50px;
    overflow: auto;
    margin-top: 15px;
    .workflow_configure_type_container {
      margin-top: 15px;
      min-width: 320px;
      padding: 0 20px;
      padding-top: 20px;
      background-color: white;
      border-radius: 6px;
      .configure_text {
        font-weight: 600;
      }
    }
  }
}

.card_list_container {
  width: 380px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  border: 1px solid #f0f0f0;

  .card_title {
    font-weight: 600;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
  .selected_card {
    background-color: $primary;
    .stage_count_container {
      background-color: $white !important;
      color: $primary !important;
    }
    .heading2 {
      color: $white;
    }
  }

  .final_stage_card {
    min-height: calc(45vh / 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 20px;
    gap: 15px;
    .stage_count_container {
      height: 40px;
      width: 40px;
      background-color: $primary;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      font-weight: 600;
      font-size: 20px;
    }
    .final_stage_inside_card {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .setting_icon {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .lifecycle_container {
    flex-direction: column;
  }

  .content-ant {
    height: auto;
  }
  .card_list_container {
    width: 100%;
  }

  .configure_container {
    min-width: 100%;
  }
}
